.Form{
    background-color: rgb(197, 210, 212);
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: 50%;
     margin-left: 600px;
   /* margin-right: 450px; */
    border-radius: 10px;
    padding: 40px;

}
.select{
    margin: 20px;
    font-size: 30px;
}
textarea{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;

    
}
.submit{
    align-items: center;
    margin: 20px;
    padding: 20px;
    font-size: 10px;
    font-size: 20px;
}
.submit:hover{
    color: rgb(238, 241, 232);
    background-color: rgb(65, 167, 65);
    font-size: 40px;
}
.review{
    padding: 20px;
}
