.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(3, 55, 99); */
    background-image: linear-gradient(315deg, #292a33 0%, #6c6e59c5 74%);
    height: 15vh;
}

.navbar > .nav-logo {
    font-weight: 700;
    font-size: 38px;
    margin: 15px;
    color: aliceblue;
    margin-left: 60px;
}
.nav-items{
    display: flex;
    margin-left: 160px;
}

.navbar > .nav-items > a {
    color: rgb(240, 248, 255);
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    margin: 25px;
    position: relative;
    opacity: 0.9;
    margin-left: 30px;
}

.navbar > .nav-items > a:hover {
    opacity: 1;
    box-shadow: 20px;
    border: 2px solid rgb(151, 140, 140);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 10px 15px black;
}



.navbar > .nav-items > a:hover::before{
    width: 100%;
}