.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(3, 55, 99); */
    background-image: linear-gradient(315deg, #48ad94fd 0%, #0d0e0dc5 74%);
    height: 15vh;
}

.navbar > .nav-logo {
    font-weight: 400;
    font-size: 48px;
    /* background-color: rgb(73, 119, 115); */
    padding: 20px;
    padding-left: 80px;
    margin: 10px;
    color: rgb(227, 241, 241);
    margin-left: 40px;
    border-radius: 15px;

}

.nav-items{
    display: flex;
    margin-left: 100px;
}

.span{
    color: black;
    font-size: 120px;
    font-style: oblique;
    font-weight: 1400;
}

.navbar > .nav-items > a {
    color: rgb(240, 248, 255);
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    margin: 25px;
    position: relative;
    opacity: 0.9;
    margin-left: 30px;
}

.navbar > .nav-items > a:hover {
    opacity: 1;
    box-shadow: 20px;
    /* border: 2px solid rgb(151, 140, 140); */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 5px black;
}



/* 
.navbar > .nav-items > a:hover::before{
    width: 100%;
} */